<h3>@Title</h3>

<table class="table table-striped table-bordered table-hover">
<thead>
    <tr>
        <th>Id</th>
        <th>Description</th>
        <th>Date</th>
        <th>Location</th>
        <th></th>
    </tr>
</thead>
<tbody>
@foreach (var publicEvent in Events)
{
    <tr>
        <td>@publicEvent.Id</td>
        <td>@publicEvent.Description</td>
        <td>@publicEvent.Date</td>
        <td>@publicEvent.Location</td>
        <td>
            <button 
            @onclick="() => OnEventRemoved.InvokeAsync(publicEvent)" class="btn btn-danger">Elimina</button>

            <button
            @onclick="() => OnEventUpdated.InvokeAsync(publicEvent)" class="btn btn-warning">   
            
            Modifica</button>

        
        </td>

    </tr>
}
</tbody>
</table>


@code {
    [Parameter]
    public string Title { get; set; } = "Event List";

    [Parameter]
    public List<EventListElement> Events { get; set; }
        = new List<EventListElement>();

    [Parameter]
    public EventCallback<EventListElement> OnEventRemoved { get; set; }

    [Parameter]
    public EventCallback<EventListElement> OnEventUpdated { get; set; }

    

}
